*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

li,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-link.current {
    position: relative;
}

.nav-list-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header {
    border: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address {
    display: flex;
    font-style: normal;
}

.nav-list-link {
    display: block;
    padding: 24px 0;
    color: #2e2f42;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-list-link:hover,
.address-list-link:focus,
.nav-list-link.current {
    color: #404bbf;
}

.nav-list-link:active {
    text-decoration: underline solid 4px #404bbf;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-style: normal;
}

.address-list-link {
    padding: 24px 0;
    font-size: 16px;
    display: block;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list,
.address-list,
.about-us-list,
.team-member,
.our-portfolio-list {
    list-style-type: none;
}

.logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-1 {
    text-transform: uppercase;
    color: #2e2f42;
}

.order-service {
    display: flex;
    padding: 188px 0;
    background-color: #2e2f42;
}

.order-service-btn {
    display: block;
    margin: 48px auto 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    padding: 16px;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404bbf;
}

.h-one {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.h-two {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.header-three {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team .h-two,
.our-team .header-three {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-us {
    padding: 120px 0;
    display: flex;
    background-color: #ffffff;
}

.about-us-list {
    display: flex;
    gap: 24px;
}

.about-us-list .about-us-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.about-us-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-member {
    display: flex;
    gap: 24px;
}

.member-info {
    padding: 32px 0;
}

.team-member .team-member-field {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-member-field {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.our-team-p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-list .our-portfolio-field {
    width: calc((100% - 48px) / 3);
}

.our-portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.div-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-p {
    width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer .logo {
    margin-bottom: 16px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.footer .logo-two {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}